<article>
    <div class="row">
        <div class="col-md-6 col-sm-12">
            <div class="card text-dark bg-light text-center border-secondary mb-3" style="max-width: 18rem;">
                <img [src]="aSelfie.image" alt="chewbacca" class="card-img-top">
                <div class="card-body">
                    <h5 class="card-title">{{ aSelfie.title }}</h5>
                    <p class="card-text">bla bla bla</p>
                </div>
            </div>
        </div>
    </div>
</article>