<header>
    <nav>
        <ul class="nav bg-dark text-white">
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">WooSe</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Add</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Account</a>
            </li>
        </ul>
        <div class="form inline my-2 my-lg-0" action="">
            <input class="form-control mr-sm-2" type="search" placeholder="Your keywords" aria-label="Your keywords"
                #searchZone>
            <button class="btn btn-success my-2 my-sm-0" type="submit" (click)="search()">Search</button>
        </div>
    </nav>
</header>